
.title {
  text-align: center;
  box-shadow: 0 8px 6px -6px #aaa;
  padding: 20px 0;
}

.chat-form, .loading {
  width: 50%;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.chatters {
  width: 80%;
  margin: 0 auto;
}

.headers {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents {
  padding: 0 10px;
}

.dates {
  padding: 0 10px;
}

.posts {
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px #ddd;
  margin: 30px 0px;
}
